pymongo~=4.11
setuptools~=75.8.0
fastapi~=0.115.8
uvicorn~=0.34.0
pydantic~=2.10.6
requests~=2.32.3
librosa~=0.10.2
numpy~=2.2.2
internetarchive~=5.2.0
audioread~=3.0.1
boto3~=1.36.15
python-dotenv~=1.0.1